@mixin text-body-regular {
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

@mixin text-label-regular {
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}
