$yellow: rgba(253, 188, 17, 1);
$gray-semi: rgba(128, 128, 128, 1);
$black-semi: rgba(242, 242, 242, 1);
$black: rgba(43, 43, 43, 1);
$red-error: rgba(236, 68, 102, 1);
$blue-link: rgba(63, 83, 190, 1);
$white-light: #fdfdfd;
$white: #fff;
