@import "../../styles/utils/all";

.header {
  @include shadow-main;
  width: 100%;
}

.headerContainer {
  @include page-container;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: inline-flex;
  gap: 40px;
  justify-content: flex-end;
}

.username {
  text-transform: capitalize;
}

.logout {
  display: inline-flex;
  align-items: center;
  color: $red-error;

  .logoutIcon {
    display: inline-block;
    margin-right: 8px;
    transform: translateY(2px);
  }

  .logoutLink {
    text-decoration: none;
    color: inherit;
  }
}

.content {
  @include page-container;
  padding: 75px 24px;
  display: flex;
  gap: 20px;

  @include mobile() {
    display: block;
    padding: 24px;
  }
}

.gameList {
  display: grid;
  align-content: flex-start;
  gap: 20px;
  width: 66%;

  @include mobile() {
    width: 100%;
    // override `style` in markup
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.gameBox {
  @include rounded-8;
  background-size: cover;
  background-position: center;
  background-color: $black-semi;
  height: 141px;

  @include mobile() {
    height: 130px;
  }
}

.gameFilters {
  width: 33%;
  padding: 32px;
  @include rounded-8;
  border: 1px solid $black-semi;

  > div {
    margin-bottom: 42px;
  }

  @include mobile() {
    display: none;
  }
}

.searchBar {
  display: block;
  position: relative;
}

.textInput {
  @include rounded-4;
  width: 100%;
  max-width: 100%;
  padding: 22.5px 16px 22.5px;
  border: 1px solid $black-semi;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.filterTitle {
  color: $gray-semi;
  margin-bottom: 15px;
}

.filterList {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 40px;
}

.filterPill {
  @include rounded-4;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s ease-in;

  &:hover {
    border: 1px solid $yellow;
  }

  &.isActive {
    background-color: $yellow;
  }
}

.filterBar {
  position: relative;
  display: flex;
  justify-content: space-between;

  .bar {
    position: absolute;
    height: 15px;
    width: calc(100% - 16px);
    top: 50%;
    // shift 4px to the right so the bar fits in with the milestones
    transform: translate(4px, -50%);
  }

  .barBackground {
    height: 100%;
    width: 100%;
    background-color: $black-semi;
    position: absolute;
    z-index: -2;
    top: 50%;
    // shift 4px to the right so the bar fits in with the milestones
    transform: translate(4px, -50%);
  }

  .barActive {
    height: 100%;
    width: 100%;
    background-color: $yellow;
    position: absolute;
    z-index: -1;
    top: 50%;
    // shift 4px to the right so the bar fits in with the milestones
    transform: translate(4px, -50%);
  }

  .milestone {
    @include rounded-full;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background-color: $black-semi;
    position: relative;
    z-index: 2;

    &.isActive {
      background-color: $yellow;
    }
  }
}

.byline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
  color: $gray-semi;
}

.resetFilters {
  cursor: pointer;
  width: 120px;
  padding: 11.5px 38.5px;
  border: none;
  color: $gray-semi;
  background-color: $white;
  @include rounded-4;
  @include shadow-main;
  transition: all 0.2s ease-in;

  &:hover {
    color: $black;
    @include shadow-shallow;
  }

  &:active {
    background-color: $white-light;
    @include shadow-shallow;
  }
}

.gameFiltersMobile {
  background-color: $white;
  display: none;
  margin-bottom: 32px;
  padding: 32px;
  @include rounded-4;
  border: 1px solid $black-semi;

  &.isShowingFilters {
    position: absolute;
    z-index: 1;
    width: calc(100% - 48px);
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile() {
    display: block;

    > div:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.toggleFilters {
  color: $blue-link;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 112px;
  margin-top: 32px;
}

.toggleFiltersIcon {
  margin-right: 8px;
}
